extends layout

block content
  div.nav-title-bar
    div.nav-title-h1-block
      div.nav-title-h1 ZigFi
    div.nav-title-burger-block
      div.nav-title-burger_button-box
        img.nav-title-burger_button-img(src='images/hamburger_icon.svg')
  div.options-bar
    div.options-bar_widget-block
      div.options-bar_widget
        div.options-bar_widget_add-device.options-bar_widget_button
          div.options-bar_widget_img-add + 
        div.options-bar_widget_text Add
      div.options-bar_widget
        div.options-bar_widget_remove-device.options-bar_widget_button
          div.options-bar_widget_img-remove -
        div.options-bar_widget_text Remove
      div.options-bar_widget
        div.options-bar_widget_edit-server.options-bar_widget_button
          img.options-bar_widget_img-settings(src='images/gear_symbol.svg')
        div.options-bar_widget_text Edit
  div.content-block
  div.options-modal-block.hidden
    div.options-modal_interface
